{
"task": "daemon",
"device": "gpuX",
"multiprocessing": true,
"batching": "default",
"max_seqs": 10,
"batch_size": 900000,
"reinit": 0,
"log_verbosity": 5,
"num_inputs": 1,
"num_outputs": {"data": [1,2], "classes": [79,1], "sizes": [2,1]},
"initialize_from_model" : 1,
"load": "models/mdlstm_real_raw_full_random.067"
}